// 載入低階模組彙整器, 使用 as * 免除輸入引用低階模組的名稱
@use "./modules/index" as *;

/* 設定網頁主體: start */
html,
body {
  font-family: 'open sans', helvetica, arial, sans;
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
  text-decoration: none;
  color: $grey;
}

.btn-color{
  color: $blue
}

.text-container {
  color: $grey;
  white-space: nowrap;
  /* 防止文字換行 */
  overflow: hidden;
  /* 隱藏超出容器的文字 */
  text-overflow: ellipsis;
  /* 使用省略號表示超出的部分 */
}

.image-container {
  overflow: hidden;
  /* 隱藏溢出部分 */
}

.image-container img {
  object-fit: cover;
  /* 保持原始比例，填滿容器 */
}

.cursor-pointer {
  cursor: pointer;
}

.margin-wrapper {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 3rem;
  margin-right: 3rem;
}
