<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>揪團訂飲料</title>
</head>
<body>
  <h2>預計加入標題</h2>
  {{{body}}}
  <h5>預計加入頁角</h5>
</body>
</html>