$baseColor: #41577d;
$borderRadius: 10px;
$imageBig: 100px;
$imageSmall: 60px;
$padding: 10px;
$maxTableWidth: 1200px;


// 指定特定資料表(記得再修改)
.table-width {
  width: 100%;
  max-width: $maxTableWidth;
}


.table-formats {
  border: 1px solid darken($baseColor, 5%);
  border-radius: $borderRadius;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
  max-width: calc(100% - 10em);
  margin-top: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
  width: $maxTableWidth;


  table {
    width: 100%;

    th {
      padding: $padding;
      background-color: darken($baseColor, 5%);
      color: white;
      text-align: center;
      text-transform: uppercase;
      font-weight: 300;
    }

    td {
      color: darken($baseColor, 10%);
      padding: $padding;
      text-align: center; // 預設儲存格文字置中(若要靠左, 請直接到元素指定class)
      vertical-align: middle;

      &:last-child {
        font-size: 0.95em;
        line-height: 1.4;
      }
    }


    tr {
      &:nth-child(2n) {
        background-color: white;
      }

      &:nth-child(2n+1) {
        background-color: lighten($baseColor, 55%)
      }
    }
  }
}


// 響應式設計
@media screen and (max-width: 800px) {
  .table-width {
    max-width: 400px;
    width: auto;
  }

  .table-formats {
    border: none;
    box-shadow: none;
    overflow: visible;

    table,
    tr,
    td {
      display: block;
    }

    table {
      td {

        // 名字、數量
        &:nth-child(n + 2):nth-child(-n + 10) {
          text-align: left;
        }
      }
    }

    thead {
      tr {
        &:first-child {
          display: none;
        }
      }
    }

    tr {
      padding: $padding 0;
      position: relative;
    }


    td {
      &:first-child {
        background-color: lighten($baseColor, 45%);
        border-bottom: 1px solid lighten($baseColor, 30%);
        border-radius: $borderRadius $borderRadius 0 0;
        position: relative;
        top: 0;
        transform: translateY(0);
        width: 100%;
        min-width: 300px;
      }

      &:not(:first-child) {
        margin: 0;
        padding: 5px 1em;
        width: 100%;
        min-width: 300px;


        &:before {
          padding-top: 0.3em;
          position: relative;
        }
      }

      &:last-child {
        height: 2rem;
        margin-bottom: 1rem;
      }
    }

    tr {
      background-color: white !important;
      border: 1px solid lighten($baseColor, 20%);
      border-radius: $borderRadius;
      box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
      margin-bottom: 3rem;
      margin-left: auto;
      margin-right: auto;
      padding: 0;
    }

    tr:last-child {
      margin-bottom: 1rem;
    }

  }

  // 分別製作手機縮小時的欄位名稱
  // 前台購物車
  #table-carts {
    td {
      @each $index, $content in (2: '數量: ', 3: '商品: ', 4: '規格: ', 5: '金額: ', 6: '時間: ') {
        &:nth-child(#{$index}):before {
          content: '#{$content}';
        }
      }
    }
  }

  // 前台購物頁面
  #table-front-orders {
    td {
      @each $index, $content in (2: '數量: ', 3: '商品: ', 4: '規格: ', 5: '金額: ', 6: '時間: ') {
        &:nth-child(#{$index}):before {
          content: '#{$content}';
        }
      }
    }
  }

  // 後台店家
  #table-stores {
    td {
      @each $index, $content in (2: '電話: ', 3: '地址: ') {
        &:nth-child(#{$index}):before {
          content: '#{$content}';
        }
      }
    }
  }

  // 後台使用者
  #table-users {
    td {
      @each $index, $content in (2: '頭像: ', 3: '帳號: ', 4: '權限: ') {
        &:nth-child(#{$index}):before {
          content: '#{$content}';
        }
      }
    }
  }

  // 後台購物頁面
  #table-back-orders {
    td {
      @each $index, $content in (2: '店家: ', 3: '數量: ', 4: '商品: ', 5: '規格: ', 6: '金額: ', 7: '時間: ') {
        &:nth-child(#{$index}):before {
          content: '#{$content}';
        }
      }
    }
  }
}